@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* border: 1px solid red ; */
}
body{
    background-image: url('../imgs/backgroundimg.png ' );
    background-repeat: no-repeat;
    background-position: -250px -150px;
    background-color: #272727;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    min-height: 95vh;
    display: block;


}
/* -------------------Desktop----------------- */
/* ___________Menu de barra lateral___________ */
.fflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarmenu{
    position: fixed ;
    left: 0;
    width: 45px;
    background: rgb(0, 167, 55);
    margin-left: 20px;
    box-shadow: 0px 5px 5px 0px .75 gainsboro;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-around;
    transition: all .5s ease-in-out;


}
.sidebarmenu .top{
    margin: 10px 10px 0 10px;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-around;

}
.sidebarmenu .bottom{
    margin: 0px 10px 10px 10px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-around;
}
.itemlist{
    min-width: 10px;
}
.itemlist .iconlist{
    width: 40px;
    height: 40px;
    background: greenyellow;
    border-radius: 25px;
}
.iconlist img{
    width: 40px;
    height: 40px;

}
.textlist{
    display: none;
    color: #272727;

}

/* ------------Main Content---------- */

.maincontent{
    min-height: 90vh;
    min-width: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/imgs/compacheco_principal_img.png);

}
.maincontent .left{
    /* position: absolute;
    left: 0; */
    min-height: 45vh;
    min-width: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maincontent .left img{
    position: absolute;
    left: 0;
    width: 50%;
    margin: 0;
}
.maincontent .right{
    min-height: 45vh;
    min-width: 45vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right h1{
    position: absolute;
    left:51%;
    font-size: 80px;
}
.right img{
    width: 100%;
}


/* --------Content---------- */

.content{
    display: block;
}
.content .top{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .left{
    min-width: 45vh;
    min-height: 45vh;
}
.top .right{
    text-align: left;
    font-size: 30px;

}
.right h2{
    font-size: 70px;
}
.content  .bottom{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bottom .left{
    width: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left h2{
    font-size: 70px;
    text-align: right;
    margin-bottom: 40px;
}
.left .cannabis{
    text-align: right;
    font-size: 30px;
}
.bottom .right{
    width: 45vh;
}

/* ----------------tablet----------------- */
@media only screen and (max-width: 840px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       
    }


    .sidebarmenu{
        margin-top: 20px;
        height: 45px;
        width: 40vh;
        position: fixed;
        top: 0;
        left: auto;
        justify-content: center;
        flex-direction: row;
        align-items: center;

    }
    .sidebarmenu .top{
        min-height: auto;
        margin: 0;
        

    }
    .sidebarmenu .bottom{
        min-height: auto;
        margin: 0;
    }
    .maincontent{
        display: block;
    }
    .left img{
        padding-top: 40px;
    }
    .content{
        flex-direction: column;
    }
    .content .top{
        flex-direction: column;
    }
    .content .bottom{
        flex-direction: column;
    }
    .bottom .left{
        display: flex;
        flex-direction:row ;
        justify-content: center;
        align-items: center;
    }
    .bottom h2{
        text-align: right;
        padding-right: 10px;


    }
    .bottom .cannabis{
        text-align: left;
        padding-left: 10px;
        font-size: 15px;
    }
}
